$primary: #f7f7f7;
$secondary: #FFC77F;
$font: #000;
$primary-font: #fff;
$rounded: 50%;

$max-width: 1000px;
$primary-spacing: 1em;
$grid-col: 8.333;
$grid-padding: 1em 1em 1em 0;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $font;
  line-height: 1.5;
  margin: 0;
  overflow-y: scroll;
}

h1, h2, ul {
  margin: 0;
  padding: 0;
}

a {
  color: #212121;
  text-decoration: none;

  &:hover {

  }
}

.container {
  max-width: $max-width;
  margin: auto;

  [class*="grid-"] {
    float: left;
    padding: $grid-padding;

    &:last-of-type {
      padding-right: 0;
    }
  }

  @for $i from 1 through 12 {
    .grid-#{$i} {
      width: 0% + if($i == 12, ceil($grid-col * $i), $grid-col * $i);
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

header {
  color: $primary-font;
  background: url('/img/pattern-crossword.png') repeat $primary;

  .header-main {
    padding: $primary-spacing;
    text-align: center;
  }

  nav {
    background: $secondary;
    padding: $primary-spacing;
    position: relative;
  }

  ul {
    list-style: none;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }

    li {
      display: inline-block;
      padding-right: 15px;
    }
  }
}

.lb {
    border-width: 3px;
    border-color: #f7f7f7;
    border-style: solid;
    border-radius: $rounded;
    height: 110px;
    width: 110px;
    position: absolute;
    left: 50%;
    margin-left: -55px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}
