<header>
  <div class="txt-center">
    <img src="/img/lyndsey-browning.png" alt="Lyndsey Browning" class="lb" />
  </div>
  <div class="container txt-center page-header">
    <a href="/">
      <h1> Lyndsey Browning </h1>
      <h2> Software Developer </h2>
    </a>
  </div>
  <nav class="cf">
    <div class="container">
      <ul>
        <li><a href="/" {% if page.url == '/' %} class="active-link" {% endif %}> Posts </a></li>
        <li><a href="/about/" {% if page.url == '/about/' %} class="active-link" {% endif %}> About  </a></li>
        <li><a href="/work/" {% if page.url == '/work/' %} class="active-link" {% endif %}> Work </a></li>
        <li><a href="https://github.com/lyndseybrowning" target="_blank" data-img-ref="github"> GitHub </a></li>
      </ul>
    </div>
  </nav>
</header>
