.button {
  display: inline-block;
  padding: 0.5em;
  margin: 1em 0 1.5em 0;

  border: 1px solid #aaa;
  border-radius: 8px;

  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;

  &:hover {
    border-color: $secondary-color;
    color: #000;
  }
}
