// brand
$primary-color: #f7f7f7;
$primary-color-outline: #e3e2de;
$secondary-color: #FFC77F;

// errors/warnings
$warning: #FF6363;
$warning-outline: #E64242;

// spacing
$def-spacing: 1em;

// other
$primary-font: #fff;
$rounded: 50%;
$links-color: #212121;
$links-hover: #535353;
