$grid-max-size: 1000px;
$grid-cols: 12;
$grid-col-size: (100 / $grid-cols);
$grid-pad: 1em;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans';
}

.container {
  max-width: $grid-max-size;
  margin: auto;
  padding: $grid-pad;

  [class*="grid-"] {
    float: left;
    padding: 0 $grid-pad*2 $grid-pad 0;

    &:last-of-type {
      padding-right: 0;
    }
  }

  .grid__content {
    border: 1px $primary-color solid;
    padding: $grid-pad;
  }

  .grid__content input[type="text"] {
      width: 100%;
  }

  @for $i from 1 through $grid-cols {
    .grid-#{$i} {
      width: 0% + ($grid-col-size * $i);
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media handheld, only screen and (max-width: 767px) {

    .container [class*='grid-'] {
        width: 100%;
        padding-right: 0;
    }
}
