body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  overflow-y: scroll;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

p {
  margin: $def-spacing 0;
}

.page-title {
  padding: 1em 0;
}

.page-content ul {
  margin-left: $def-spacing;
}

.post-content ol {
  margin-left: $def-spacing;
}

.active-link {
  border-bottom: 1px solid #535353;
}
