.posts-list {
  list-style: none;
}

.post__link {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1.5em 0 0.5em 0;
}

.post__info {
  font-style: italic;
  margin: 0.5em 0;
  font-size: 0.9em;
}

.post-content ul {
  margin: 0 1.5em;
}

.post-content a {
  color: $body-links;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
