body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  overflow-y: scroll;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

p {
  margin-bottom: $def-spacing;
}

.page-title {
  padding-top: $def-spacing * 2;
}

.active-link {
  border-bottom: 1px solid #535353;
}
