.posts-list {
  list-style: none;
}

.post__link {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1em 0;
}

.post__info {
  font-style: italic;
  margin: 0.5em 0;
  font-size: 0.9em;
}
